.custom-text-title {
    color: var(--secondary);
}

    .btn-custom-secondary {
        background-color: var(--primary);
        color: var(--white);
    }

    .btn-custom-secondary:hover{
        background-color: var(--quinary);
        color: var(--white);
    }

