.img-custom {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

// type-card--------------
.card .type-card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.type-card {
    width: 80px;
    overflow: hidden;
}

.type-card h5 {
    font-size: 15px;
    font-weight: 300;
}

//------------------------