.card-section {
    padding-top: 20px;

    .card {
        margin: 10px 10px;
    }

    figure {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}

.title-card {
    min-height: 65px;
}

.paragraph-card {
    min-height: 70px;
}

.price-position {
    position: relative;
    bottom: 2px;
}