:root {
    --primary: #FFA83D;
    --secondary: #4888a8;
    --tertiary: #99b6c4;
    --quaternary: #ffd199;
    --quinary: #FF8330;
    --black: #000;
    --white: #fff;
    --text: #111;
    --bgc: #f5f5f5;
    --ff1: 'Ubuntu', sans-serif;
    --ff2: 'Jost', sans-serif;
}

h1, h2, h3, h4, h5, header     {
    font-family: var(--ff1);
}

body {
    font-family: var(--ff2);
}

