.header-bgc {
    background-color: var(--primary);

    .container {
        padding: 5px 0px;
        
        img {
            width: 80px;
        }
        
        a {
            text-decoration: none;
            color: var(--white);
        }
        
        h2 {
            font-size: 60px;
        }

        .size {
            font-size: 17px;
        }
    }
}


