.header-bgc {
    background-color: var(--p-orange);
    height: 120px;

    .container {
        padding: 5px 0px;

        img {
            width: 80px;
        }

        a {
            text-decoration: none;
            color: var(--white);
        }

        h2 {
            font-size: 60px;
        }

        .size {
            font-size: 17px;
        }

        .ciao {
            position: relative;
        }

        .traslate {
            transform: translateX(-50px);
            position: absolute;
            top: 25px;
            left: -44px;
        }
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}